


.NavBar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AFD7CD;
    display: flex;
 flex-direction: row;
 justify-content: space-between

  }
  
  li {
justify-content: space-between;
padding: 0px 30px;
  }
  
  li div {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
  }
  
  .profile{
      width: 30%;
      margin: 0;
      padding: 20px;
      background-color: rgb(195, 193, 193);
      text-align: center;
      justify-content: space-between;
      height: 70%;
      position:absolute; 

  }

.bttn{
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    height:54px;
    font-size:15px;
    padding:0 28px;
    width: 150px;
    text-align: center;
    background-color: #AFD7CD;
    position: absolute;
    bottom: 200px;
    right: 50px;

}

.home{
    /* background-image: url(https://thumbs.dreamstime.com/b/trees-planted-recycled-plastic-bottles-planted-bottle-plastic-recycle-trees-planted-recycled-plastic-bottles-119793972.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90%;
    width: 100%;
    position:absolute; 
}
.WCWR{
  text-align: center;
}
/* .pBox{
  position: relative; 


} */
.basket{
  position: absolute; 
  margin-right: 0px; 
  width: 155px; 
  height: 81px; 
  right: 0;
  bottom: 0;
     
}




.card{
  position:relative;
  margin:20px;
  padding: 20px;
  background-color:white;
  border: #AFD7CD;
}
.PlasticBag{
  position: absolute;
  height: 70px;
  left:1250px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    60% { transform: translateY(10px); }
    100% { transform: translateY(150px); }

}



.PlasticDrink{
  position: absolute;
  height: 70px;
  left:1350px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(150px); }

}

.PlasticBottle{
  position: absolute;
  height: 70px;
  left:1320px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(150px); }

  
}

.PaperBag{
  position: absolute;
  height: 50px;
  left:1250px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1.2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(150px); }

}

.PaperTwist{
  position: absolute;
  height: 50px;
  left:1305px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(200px); }
}

.PaperT{
  position: absolute;
  height: 50px;
  left:1350px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(220px); }

}

.ElectronicCable{
  position: absolute;
  height: 130px;
  left:1214px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1.2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(180px); }

}

.ElectronicUsb{
  position: absolute;
  height: 120px;
  left:1265px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(190px); }
}

.ElectronicHeadphones{
  position: absolute;
  height: 130px;
  left:1300px;
  top:0;
  bottom: 0;
  -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    50% { transform: translateY(10px); }
    100% { transform: translateY(170px); }

}
.p{
  size: 50px;
  width: 70%;
}
.Plastic{
  width: 50%;
}
